/* Imports ----- */
@import url("tabbar.css");

* {
-webkit-touch-callout: none;
-webkit-user-select: none;
}

body {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#homeView {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    padding: 0px;
    margin: 0px;
    display: block;
    border:none;
}

/*ViewNavigator Styles*/
/*viewNavigator_header height: 46*/
.viewNavigator_header {
    background:#333436;
    color:#444;
}

.viewNavigator_header_title {
    color:#white;
    font-size:1.5em;
    max-width:75%;
}



.viewNavigator_header_title {
    color:#white;
    font-size:1.25em;
    max-width:60%;
}

.viewNavigator_backButton {
    position:absolute;
    top:8px;
    left:5px;
    -webkit-border-image:url("../images/iOSbackButton.png") 0 4 0 12;
    border-width:0 4px 0 12px;

    color:white;
    font-weight: bold;
    background: none;
    text-decoration:none;
}

.viewNavigator_backButton_active,
.viewNavigator_backButton:active {
    background: none;
    -webkit-border-image:url("../images/iOSbackButton_active.png") 0 4 0 12;
}

.viewNavigator_content {
    border-top:1px solid #999;
    background:#444;
    color:#444;
}

.viewNavigator_contentHolder {
    color:#444;
    background: #888;
    border:none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.viewNavigator_contentHolder > div:first-child {
    min-height:100%;
    background:#FFF;
    /*background-image:url('graphics/wheat_bg.png');
    background-position: top left;
    background-repeat:repeat;*/
    border-bottom:1px solid #444;
    border-top:1px solid #444;

    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;

	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.main {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    padding: 0px;
    margin: 0px;
    display: block;
    border:none;
}

.app-content {
    position:absolute;             /* position in the center of the screen */
    left:2%;
    top:10%; 
}

.footer {
    position:absolute;             /* position in the center of the screen */
    left:2%;
    top:80%; 
}

