
#tab_bar {
	position:absolute; 
  z-index:2;
	width:100%;
	height: 64px;
  bottom: 3%;
  -webkit-box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.5);
	background: transparent url(../images/tabbar/bar_bg.jpg) bottom left repeat-x;
	-webkit-background-size: 320px 64px;
     -moz-background-size: 320px 64px;
          background-size: 320px 64px;
}

#tab_bar nav{
	width: 320px;
	margin: 0 auto;
	height: 64px;
	position: relative;
}
#tab_bar nav a{
	display: block;
	float: left;
	width: 64px;
	height: 64px;
	text-indent: -9999px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#tab_bar nav a.active{
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0.3)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,0) 30%, rgba(255,255,255,0.3) 100%);
  background-image: -moz-linear-gradient(rgba(255,255,255,0) 30%, rgba(255,255,255,0.3) 100%);
  background-image: -o-linear-gradient(rgba(255,255,255,0) 30%, rgba(255,255,255,0.3) 100%);
  background-image: -ms-linear-gradient(rgba(255,255,255,0) 30%, rgba(255,255,255,0.3) 100%);
  background-image: linear-gradient(rgba(255,255,255,0) 30%, rgba(255,255,255,0.3) 100%);
}
#tab_bar nav a span{
  display: block;
  width: 64px;
  height: 64px;
}
#tab_bar nav a.tab_home span{
  border-top: 1px solid rgba(0,0,0,0.4);
	background: transparent url(../images/tabbar/home.png) center center no-repeat;
	-webkit-background-size: 64px 64px;
     -moz-background-size: 64px 64px;
          background-size: 64px 64px;
  -webkit-box-shadow:  1px 0px 0px 0px rgba(0, 0, 0, 0.4);
  box-shadow:  1px 0px 0px 0px rgba(0, 0, 0, 0.4);
}
#tab_bar nav a.tab_bbs span{
  border-top: 1px solid rgba(0,0,0,0.4);
	background: transparent url(../images/tabbar/bbs.png) center center no-repeat;
	-webkit-background-size: 64px 64px;
     -moz-background-size: 64px 64px;
          background-size: 64px 64px;
  -webkit-box-shadow:  1px 0px 0px 0px rgba(0, 0, 0, 0.4);
  box-shadow:  1px 0px 0px 0px rgba(0, 0, 0, 0.4);
}
#tab_bar nav a.tab_contact span{
  border-top: 1px solid rgba(0,0,0,0.4);
	background: transparent url(../images/tabbar/contact.png) center center no-repeat;
	-webkit-background-size: 64px 64px;
     -moz-background-size: 64px 64px;
          background-size: 64px 64px;
  -webkit-box-shadow:  1px 0px 0px 0px rgba(0, 0, 0, 0.4);
  box-shadow:  1px 0px 0px 0px rgba(0, 0, 0, 0.4);
}
#tab_bar nav a.tab_setup span{
  border-top: 1px solid rgba(0,0,0,0.4);
  background: transparent url(../images/tabbar/setup.png) center center no-repeat;
  -webkit-background-size: 64px 64px;
     -moz-background-size: 64px 64px;
          background-size: 64px 64px;
  -webkit-box-shadow:  1px 0px 0px 0px rgba(0, 0, 0, 0.4);
  box-shadow:  1px 0px 0px 0px rgba(0, 0, 0, 0.4);
}
#tab_bar nav a.tab_drinkup.active span{
	background-position: bottom center;
}
