<div id="homeView">

    <div id="wrapper">
     
            <div style="text-align: center;">
                <p style="position: relative;top: 50px;">
                    <button id="agendabtn" class="btn btn-info">agenda </button>
                    <button id="survybtn" class="btn btn-info">survy </button>
                    <button id="noticebtn" class="btn btn-info">notice </button>
                </p>
                <p style="position: relative;top: 90px;">
                    <button id="agendabtn" class="btn btn-info">agenda </button>
                    <button id="survybtn" class="btn btn-info">survy </button>
                    <button id="noticebtn" class="btn btn-info">notice </button>
                </p>
                <p style="position: relative;top: 120px;">
                <button id="agendabtn" class="btn btn-info">agenda </button>
                <button id="survybtn" class="btn btn-info">survy </button>
                <button id="noticebtn" class="btn btn-info">notice </button>
                </p>
            </div>


    </div>

</div>
