<div id="homeView">

        <div id="tab_bar">
            <nav id="tab_bar_nav">
                <a href="#!/homeArea" class="tab_home tab_btn button"><p><span>Home</span></p></a>
                <a href="#!/bbsArea" class="tab_bbs tab_btn button"><p><span>BBS</span></p></a>
                <a href="#!/contactArea" class="tab_contact tab_btn button"><p><span>Contact</span></p></a>
                <a href="#!/setupArea" class="tab_setup tab_btn button"><p><span>Setup</span></p></a>
            </nav>
        </div>

</div>
