<div id="homeView">

    <div id="wrapper">
     
            <div style="text-align: center;">
                <p style="position: relative;top: 50px;">
                    <button id="agendabtn" class="btn btn-info">agenda </button>
                    <button id="speakerbtn" class="btn btn-info">speaker </button>
                    <button id="noticebtn" class="btn btn-info">notice </button>
                </p>
                <p style="position: relative;top: 90px;">
                    <button id="mapbtn" class="btn btn-info">map </button>
                    <button id="survybtn" class="btn btn-info">survy </button>
                    <button id="contactbtn" class="btn btn-info">contact </button>
                </p>
            </div>


    </div>

</div>
